<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>register</title>

</head>
<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}"> <!-- 현재 템플릿의 content 부분을 layout/basic 파일의 setContent 부분으로 대체한다는 의미입니다 -->
    <th:block th:fragment="content">
        <h1 class="">modify</h1>
        <form action="/guestbook/modify" method="post">
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <div class="form-group">
                <label>Gno:</label>
                <input type="text" name="gno"  class="form-control" th:value="${dto.gno}" readonly>
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input type="text" name="title"  class="form-control" th:value="${dto.title}" >
            </div>
            <div class="form-group">
                <label>Content:</label>
                <textarea name="content" rows="5" class="form-control" >[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <label>Writer:</label>
                <input type="text" name="writer" class="form-control" th:value="${dto.writer}" readonly>
            </div>
            <div class="form-group">
                <label>RegDate:</label>
                <input type="text" name="regDate"  class="form-control" th:value="${dto.regDate}" readonly>
            </div>
            <div class="form-group">
                <label>ModifyDate:</label>
                <input type="text" name="modifyDate"  class="form-control" th:value="${dto.modDate}" readonly>
            </div>
        </form>
             <button type="button" class="btn btn-primary modifyBtn">Modify</button>
        <a th:href="@{/guestbook/list(page=${requestDTO.page})}"> <!--gno = ${dto.gno}, page=${requestDTO.page} 이건 파라미터 값. -->
            <button type="button" class="btn btn-info form-group">List</button>
        </a>
            <button type="button" class="btn btn-danger removeBtn">Remove</button>

    </th:block>
</th:block>
    <script th:inline="javascript">
        let actionForm = $("form");
        $(".removeBtn").click(function (){
            actionForm.attr("action", "/guestbook/remove")
                .attr("method","post")
            actionForm.submit()
        });

        $(".modifyBtn").click(function (){
            actionForm.attr("action", "/guestbook/modify")
                .attr("method","post")
            actionForm.submit()
        });
    </script>
</body>
</html>